<div class="col-md-4">
    {{#each burger}} 
        {{#unless this.devoured}}
            <ul class="list-group">
                <li class="list-group-item">
                    {{this.id}}. {{this.burger_name}}
                </li>
                <a href="#" data-burgerId="{{this.id}}" class="btn btn-primary">Devour</a>
                <br>
            </ul>    
        {{else}}
            {{!-- <ul class="list-group">
                <li class="list-group-item">
                    {{this.id}}. {{this.burger_name}}
                </li>
                <br>
            </ul> --}}
        {{/unless}} 
    {{/each}}
</div>

<div class="col-md-4">
    <p>Which burger would you like to devour?</p>
    <div class="input-group">
        <input type="text" class="form-control burgerName" aria-label="Burger name" placeholder="Enter your burger or choose from the list">
        <div class="input-group-btn">
            <button type="button" class="btn btn-secondary addBurger">Submit</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item specialBurgerName" href="#">The Royale with Cheese</a>
                <a class="dropdown-item specialBurgerName" href="#">Classic Cheeseburger</a>
                <a class="dropdown-item specialBurgerName" href="#">The Seamus with American and Grilled Onions</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item specialBurgerName" href="#">Cheese Burger with American and Grilled Onions</a>
                <a class="dropdown-item specialBurgerName" href="#">The Bang Bang Burger</a>
                <a class="dropdown-item specialBurgerName" href="#">Hook Burger</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="clearBurgerInput">Clear</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
     {{#each burger}}
         {{#unless this.devoured}}
        {{!-- <ul class="list-group">
            <li class="list-group-item">
                {{this.id}}. {{this.burger_name}}
            </li><br>
        </ul> --}}
        {{else}}
        <ul class="list-group">
            <li class="list-group-item">
                {{this.id}}. {{this.burger_name}}
            </li>
            {{!-- <a href="#" data-burgerId="{{this.id}}" class="btn btn-primary">Devour</a> --}}
            <br>
        </ul>
         {{/unless}}
     {{/each}}
</div>

<script>
    $(function () {
    var specialBurgerName;
    // Get value from preselected burgers and use that value as the burger to add
    $(".specialBurgerName").click(function(){
        specialBurgerName = $(this).text().trim();
        $(".burgerName").val(specialBurgerName);
    });
    //Clear the burger input field
    $("#clearBurgerInput").click(function(){
        $(".burgerName").val("");
    })

    $(".addBurger").on("click", function (e) {
        e.preventDefault();
        burgerName = $(".burgerName").val().trim();
        alert(burgerName);
        $(".burgerName").val("");
        // var id = $(this).data("id");
        // var newSleep = $(this).data("newsleep");

        // var newSleepState = {
        //     sleepy: newSleep
        // };

        // // Send the PUT request.
        // $.ajax("/api/cats/" + id, {
        //     type: "PUT",
        //     data: newSleepState
        // }).then(
        //     function () {
        //         console.log("changed sleep to", newSleep);
        //         // Reload the page to get the updated list
        //         location.reload();
        //     }
        // );
    });

    // $(".create-form").on("submit", function (event) {
    //     // Make sure to preventDefault on a submit event.
    //     event.preventDefault();

    //     var newCat = {
    //         name: $("#ca").val().trim(),
    //         sleepy: $("[name=sleepy]:checked").val().trim()
    //     };

    //     // Send the POST request.
    //     $.ajax("/api/cats", {
    //         type: "POST",
    //         data: newCat
    //     }).then(
    //         function () {
    //             console.log("created new cat");
    //             // Reload the page to get the updated list
    //             location.reload();
    //         }
    //     );
    // });
});
</script>

